<!-- Header -->
<header class="site-header fixed-header">
  <div class="wrapper site-header__wrapper">
    <a href="#" class="brand">Tourism</a>
    <nav class="nav">
      <button class="nav__toggle" aria-expanded="false" type="button">
        menu
      </button>
      <ul class="nav__wrapper">
          <li class="nav__item"><a class="nav_a" href="/">Accueil</a></li>
          <li class="nav__item"><a class="nav_a" href="activity">Nos activités</a></li>
          <li class="nav__item"><a class="nav_a" href="gallery">Galerie</a></li>
          <li class="nav__item"><a class="nav_a" href="whous">Qui sommes nous</a></li>
          <li class="nav__item"><a class="nav_a" href="contact">Contact</a></li>
         
          <li class="nav__item"><a class="nav_a" href="signin">Connexion</a></li>
           <li class="nav__item"><a class="nav_a" href="signup">Inscription</a></li>
        </ul>
    </nav>
  </div>
</header>
<!-- Header  -->
