<%- include('../partials/head'); %>

			
		<!-- Highlights -->
			<section class="wrapper section_wrap" >
				<div class="inner">
					<header class="special" data-aos="zoom-in">
						<h2 style="color:green;text-decoration: underline;">Nos Activités</h2>
					</header>
					<div class="activity">
						<div class="div-test" style="margin-top: 1em;">
							<img class="img-site" src="assets/images/iconSite.png" alt="">
							<hr>
						</div>
						<header class="special">
							<h3 style="color:rgb(218, 69, 0);">Activité1</h3>
						</header>
						<div class="div-activity"  data-aos="fade-up"
						data-aos-duration="3000">
							<div class="img-activity activity-style">
								<img src="assets/images/site1.jpg" alt="">
							</div>
							<div class="text-activity activity-style">
								<h3>prestations </h3>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ad ipsa eos ut quidem perferendis excepturi eligendi temporibus optio sint? Voluptatem excepturi veniam expedita sapiente debitis nesciunt sed ex quis?</p>
								<button>Voir Plus</button>
							</div>
						</div>
	
						<div class="div-test" style="margin-top: 5em;">
							<img class="img-site" src="assets/images/iconSite.png" alt="">
							<hr>
						</div>
						<header class="special">
							<h3 style="color:rgb(218, 69, 0);">Activité2</h3>
						</header>

						<div class="div-activity"  data-aos="fade-up"
						data-aos-duration="2000">
							<div class="img-activity">
								<img src="assets/images/site1.jpg" alt="">
							</div>
							<div class="text-activity">
								<h3>prestations </h3>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ad ipsa eos ut quidem perferendis excepturi eligendi temporibus optio sint? Voluptatem excepturi veniam expedita sapiente debitis nesciunt sed ex quis?</p>
								<button>Voir Plus</button>
							</div>
						</div>

						<div class="div-test" style="margin-top: 5em;">
							<img class="img-site" src="assets/images/iconSite.png" alt="">
							<hr>
						</div>
						<header class="special">
							<h3 style="color:rgb(218, 69, 0);">Activité3</h3>
						</header>
	
						<div class="div-activity"  data-aos="fade-up" data-aos-duration="2000">
							<div class="img-activity">
								<img src="assets/images/site1.jpg" alt="">
							</div>
							<div class="text-activity">
								<h3>prestations </h3>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ad ipsa eos ut quidem perferendis excepturi eligendi temporibus optio sint? Voluptatem excepturi veniam expedita sapiente debitis nesciunt sed ex quis?</p>
								<button>Voir Plus</button>
							</div>
						</div>
	
						<div class="div-test" style="margin-top: 5em;">
							<img class="img-site" src="assets/images/iconSite.png" alt="">
							<hr>
						</div>

						<header class="special">
							<h3 style="color:rgb(218, 69, 0);">Activité4</h3>
						</header>
						<div class="div-activity"  data-aos="fade-up"
						data-aos-duration="2000">
							<div class="img-activity">
								<img src="assets/images/site1.jpg" alt="">
							</div>
							<div class="text-activity">
								<h3>prestations </h3>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ad ipsa eos ut quidem perferendis excepturi eligendi temporibus optio sint? Voluptatem excepturi veniam expedita sapiente debitis nesciunt sed ex quis?</p>
								<button>Voir Plus</button>
							</div>
						</div>
						

					</div>
				</div>
			</section>
<%- include('../partials/footer'); %>
