<%- include('../partials/head'); %>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>le tourisme à l'ivoirien</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laudantium error atque temporibus quod neque corporis itaque vero quaerat? Dolores vero sint qui iste? Facere dolores labore ab incidunt placeat.
					</p>
				</div>
				<video autoplay loop muted playsinline src="assets/images/banner.mp4"></video>
			</section>


			
		<!-- Highlights -->
			<section class="wrapper section_wrap">
				<div class="div-test">
					<img class="img-site" src="assets/images/iconSite.png" alt="">
					<hr>
				</div>
				<div class="inner">
					<header class="special" data-aos="zoom-in">
						<h2 style="color: green;">Nos Sites touristique</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="highlights" >
						<section data-aos="zoom-in">
							<div class="content">
								<header>
									<a href="#" class="">
										<img class="img-header-highlights" src="assets/images/site1.jpg" alt="">
									</a>
									<h3>Site Numero 1</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section data-aos="zoom-in">
							<div class="content">
								<header>
									<a href="#" class="">
										<img class="img-header-highlights" src="assets/images/site2.jpeg" alt="">
									</a>
									<h3>Site Numero 2</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section data-aos="zoom-in">
							<div class="content">
								<header>
									<a href="#" class="">
										<img class="img-header-highlights" src="assets/images/site3.jpg" alt="">
									</a>
									<h3>Site Numero 3</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section data-aos="zoom-in">
							<div class="content">
								<header>
									<a href="#" class="">
										<img class="img-header-highlights" src="assets/images/site4.jpeg" alt="">
									</a>
									<h3>Site Numero 4</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section data-aos="zoom-in">
							<div class="content">
								<header>
									<a href="#" class="">
										<img class="img-header-highlights" src="assets/images/site5.jpeg" alt="">
									</a>
									<h3>Site Numero 5</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section data-aos="zoom-in">
							<div class="content">
								<header>
									<a href="#" class="">
										<img class="img-header-highlights" src="assets/images/site6.jpg" alt="">
									</a>
									<h3>Site Numero 6</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
					</div>

				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper section_wrap">
				<div class="inner">
					<h2 >Venez visiter nos plus beaux sites</h2>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper section_wrap" data-aos="zoom-in">
				<div class="inner">
					<header class="special">
						<h2 style="color: green;">Avis de nos visiteurs</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="assets/images/perso1.png" alt="" />
									</div>
									<p class="credit">- <strong>kone </strong> <span>CEO - ABC </span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="assets/images/perso1.png" alt="" />
									</div>
									<p class="credit">- <strong>Doudou </strong> <span>CEO - ABC </span></p>
								</div>
								</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="assets/images/perso1.png" alt="" />
									</div>
									<p class="credit">- <strong>zadi </strong> <span>CEO - ABC </span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

<%- include('../partials/footer'); %>