<%- include('../partials/head'); %>

<style>
.section_wrap{
  background: url('assets/images/image1.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
  .sign-in{
      width: 30%;
      margin: auto;
      box-shadow: 10px 5px 5px #3f4444,10px -5px -5px #4b4e4e ;
    opacity: 1;
    z-index: 999;
     
    }

		.sign-in form{
      
    }

    .hdiv{
      margin-top: -7em;
      background-color: #4d5053 !important;
      padding: 3em;
      opacity: 1;
      
    }
    
    .hdiv h4{
      font-weight: bold;
      color: white;
      
    }
    .btn-style{
      background-color: #007396 !important;
      padding: 1em;
    }
</style>
			
		<!-- Highlights -->
			<section class="wrapper section_wrap">
        
				<div class="mx-auto text-center mb-3 hdiv">
					
					<h4 class="h4">Connexion</h4>
				</div>

        <div class="card p-5 mx-auto sign-in">
         
          
          <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form2Example1" class="form-control" />
              <label class="form-label" for="form2Example1">Email</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" />
              <label class="form-label" for="form2Example2">Mot de passe</label>
            </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="form2Example3"
                    checked
                  />
                  <label class="form-check-label" for="form2Example3"> Se souvenir de moi </label>
                </div>
              </div>
          
              <div class="col">
                <!-- Simple link -->
                <a href="#!">Mot de passe oublié?</a>
              </div>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 btn-style">Connexion</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Pas de compte? <a href="#!">S'inscrire</a></p>
              <p>or S'inscrire avec:</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
          
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>
          
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
          
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>
        </div>
			</section>

			
<%- include('../partials/footer'); %>
