<%- include('../partials/head'); %>

		<!-- Highlights -->
			<section class="wrapper section_wrap">
				
				<div class="inner">
					<header class="special">
						<h2 style="color: green; text-decoration: underline;">qui sommes nous ?</h2>
					</header>
					<div class="who-us">
						<p>
							Nous sommes la reference touristique de côte d'ivoire.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!	
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!	
						    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!	
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!	
						    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!				
						</p>
						<p>

							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!	
							Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!	
						    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Sit neque harum molestias! Odio totam itaque voluptatem minima rem quis ducimus vitae iste similique
							suscipit aperiam, eveniet maxime, blanditiis quam nulla!
						</p>
						<div style="width: 50%; margin: auto;">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sunt ut laborum odio, vitae enim quas eum, corrupti delectus reprehenderit animi praesentium quod odit ea dignissimos molestias quae. Labore, atque.
							</p>
						</div>
					</div>

				</div>
			</section>
<%- include('../partials/footer'); %>
